body {
    text-align: center;
    font-family: Lato, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 160px 50px;
    background: linear-gradient(160deg, #8F47B3 0%, #fefefe 60%, #20B2AA 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_title {
    font-family: 'Monoton', sans-serif;
    font-size: 55px;
    color: #fefefe;
}
h2 {
    font-family: Audiowide, sans-serif;
    font-size: 60;
    color: #fefefe;
}


/*Media query for responsiveness*/
@media screen and (max-width: 450px){
    header, .score-panel, .deck{
        display: flex;
        justify-content: space-between;
    }
    .deck{
    height: auto;
    max-width: 100%;
    }
}
